@(message: String)
@main("Caminhão do Leite") {
    <html>
        <head>

            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">

            <title>Caminhão do Leite</title>

                <!-- Bootstrap Core CSS -->
            <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet">

                <!-- Custom CSS -->
            <link href="@routes.Assets.at("stylesheets/sb-admin.css")" rel="stylesheet">

                <!-- Morris Charts CSS -->
            <link href="@routes.Assets.at("stylesheets/plugins/morris.css")" rel="stylesheet">

                <!-- Custom Fonts -->
            <link href="@routes.Assets.at("font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

                <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
                <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
                <!--[if lt IE 9]>-->
            <script src="@routes.Assets.at("js/html5shiv.js")"></script>
            <script src="@routes.Assets.at("js/respond.min.js")"></script>

            <script type="text/javascript">
            $(document).ready(function(){
            $('[data-show="tooltip"]').tooltip({
            placement : 'top'
            });
            $('[data-show="tooltip-right"]').tooltip({
            placement : 'right'
            });
            $('[data-show="tooltip-left"]').tooltip({
            placement : 'left'
            });
            $('[data-show="tooltip-down"]').tooltip({
            placement : 'bottom'
            });
            });
            </script>

            <style type="text/css">
            .bs-example{
            margin: 100px 50px;
            }
            </style>

        </head>

        <body>

            <div id="wrapper">

                    <!-- Navigation -->
                <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                        <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header line">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand line" href="@routes.Application.index()"><img src="@routes.Assets.at("images/caminhao-nome.png")" height="55" width="210"></a>
                    </div>
                        <!-- Top Menu Items -->
                    <ul class="nav navbar-right top-nav">
                        <li>
                            <a href="@routes.Login.show()"><i class="fa fa-sign-in"></i> Login</a>
                        </li>
                    </ul>
                        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav side-nav">
                            <b class="navbar-brand menu">Menu</b>
                            <li class="active">
                                <a href="@routes.Application.index()"><i class="fa fa-home"></i> Home </a>
                            </li>
                            <li>
                                <a href="@routes.Login.show()"><i class="fa fa-sign-in"></i> Login</a>
                            </li>
                            <li>
                                <a href="@routes.Cadastro.show()"><i class="fa fa-plus"></i> Sign Up</a>
                            </li>
                            <li class="active">
                                <a><i class="fa fa-coffee"></i> Sobre nós</a>
                            </li>
                            <li class="texto">
                                <p> O caminhão do leite é um portal feito exclusivamente para auxiliar os alunos que
                                    estão cursando a disciplina Sistemas de Informação 1, trazendo valiosas dicas de
                                    alunos que já concluíram este curso, incluindo dicas do
                                    <img src="@routes.Assets.at("images/evil.png")" height="25" width="25">Play
                                    e Heroku<img src="@routes.Assets.at("images/evil.png")" height="25" width="25">, e
                                    possibilitando que você não cometa os mesmos erros deles.
                                </p>
                            </li>
                        </ul>
                    </div>
                        <!-- /.navbar-collapse -->
                </nav>

                <div id="page-wrapper">

                    <div class="container-fluid">

                            <!-- Page Heading -->
                        <div class="row">
                            <div class="col-lg-12">
                                <h1 class="page-header">

                                        <!-- Fim do cabeçalho! -->
                                        Caminhão do Leite <small> O seu portal de leites</small>
                                </h1>
                                <ol class="breadcrumb">
                                    <li class="active">
                                        <i class="fa fa-home"></i> Home
                                    </li>
                                </ol>
                                @if(message != "") {
                                    @if(message contains("Erro")){
                                        <div class="alert alert-danger" role="alert" id="successPanel">
                                    } else {
                                        <div class="alert alert-success" role="alert" id="successPanel">
                                    }
                                        <button type="button" class="close" id="close"><span aria-hidden="true">&times;</span>
                                            <span class="sr-only">Close</span></button>
                                        @message
                                    </div>
                                }
                                <br>
                                <div class="row">
                                    <div class="col-lg-6 text-center">
                                        <div class="panel panel-green">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Interface intuitiva e moderna</h3>
                                            </div>
                                            <div class="panel-body">
                                                Com um menu de fácil navagação, você pode facilmente navegar entre os temas.<br><br>
                                                <a href='http://s23.postimg.org/dtbk4g7zf/menu_itertivo.png' alt="Clique para ampliar. Na imagem: Menu da Aplicação." target='_blank'><img src='http://s4.postimg.org/wdh5vcmvd/menu_itertivo.jpg' border='0' /></a>
                                                <br><br>
                                                    Clicar em um tema te levará à página de dicas do tema escolhido. O usuário poderá avaliar a dificuldade de um tema,
                                                    e a média e a mediana da dificuldade de todos os usuários que o avaliaram ficará disponível.<br><br>
                                                    <a href='http://s23.postimg.org/6njt1zywb/media.png' target='_blank' alt="Clique para ampliar. Na imagem: Média dos temas."><img src='http://s4.postimg.org/pyi4yog5l/media.jpg' data-show="tooltip-left" border='0' alt="Clique para ampliar. Na imagem: Média dos temas." /></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 text-center">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Discutir e compartilhar suas ideias nunca foi tão fácil</h3>
                                            </div>
                                            <div class="panel-body">
                                                <br>
                                                O fórum de discussões do Caminhão do Leite foi projetado para garantir uma experiência confortável para o usuário, permitindo que
                                                ele avalie as dicas postadas, comente-as e sinalize caso o conteúdo seja inapropriado.<br><br>
                                                <a href='http://s23.postimg.org/o62g49qwb/resposta.png' target='_blank'><img src='http://s4.postimg.org/qt4okpo09/resposta.jpg' border='0' alt="resposta" /></a>
                                                <br><br>
                                                Quando a discussão se torna muito grande, nada melhor do que poder recolher as discussões que não te interessam e poder focar no
                                                mais importante.<br><br>
                                                <a href='http://s23.postimg.org/8te3wi2cr/forum_recolhido.png' target='_blank'><img src='http://s4.postimg.org/9rbuim955/forum_recolhido.jpg' border='0' alt="forum recolhido" /></a>
                                               </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <center>Nós esperamos que você aproveite todos os recursos do nosso portal, e use-o para pagar suas disciplinas
                                da melhor forma possível!<br><br></center>

                                <center> <img src="http://data2.whicdn.com/images/32795481/original.gif"></center>


                            </div>
                        </div><br>
                        <ol class="breadcrumb">
                            <li>
                                <small> Caminhão do Leite </small>
                            </li>
                            <li> <small> Copyright © 2015</small></li>
                            <li>
                                <small> Desenvolvido por Marcela Tejo e Órion Winter para a disciplina SI1</small>
                            </li>
                        </ol>
                    </div>
                </div>
                    <!-- /.row -->
</div>
            </div>
                <!-- /#page-wrapper -->



                <!-- jQuery -->
            <script src="@routes.Assets.at("js/jquery.js")"></script>

                <!-- Bootstrap Core JavaScript -->
            <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>

                <!-- Morris Charts JavaScript -->
            <script src="@routes.Assets.at("javascripts/jquery-extra.js")" rel="javascript" media="screen"></script>
            <script src="@routes.Assets.at("js/plugins/morris/raphael.min.js")"></script>
            <script src="@routes.Assets.at("js/plugins/morris/morris.min.js")"></script>
            <script src="@routes.Assets.at("js/plugins/morris/morris-data.js")"></script>


                <!-- Flot Charts JavaScript -->
            <script src="@routes.Assets.at("js/plugins/flot/jquery.flot.js")"></script>
            <script src="@routes.Assets.at("js/plugins/flot/jquery.flot.tooltip.min.js")"></script>
            <script src="@routes.Assets.at("js/plugins/flot/jquery.flot.resize.js")"></script>
            <script src="@routes.Assets.at("js/plugins/flot/jquery.flot.pie.js")"></script>
            <script src=@routes.Assets.at("js/plugins/flot/flot-data.js")""></script>

        </body>

    </html>


}
