@(message: String)
@main("Caminhão do Leite") {
    <html>
        <head>

            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">

            <title>Caminhão do Leite</title>

            <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet" media="screen">
            <link href="@routes.Assets.at("stylesheets/sb-admin.css")" rel="stylesheet" media="screen">
            <link href="@routes.Assets.at("stylesheets/sb-admin.min.css")" rel="stylesheet" media="screen">
            <link href="@routes.Assets.at("stylesheets/plugins/morris.css")" rel="stylesheet" media="screen">
            <link href="@routes.Assets.at("font-awesome/css/font-awesome.min.css")" rel="stylesheet" media="screen">

                <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
                <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
                <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

        </head>

        <body>

            <div id="wrapper">

                    <!-- Navigation -->
                <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                        <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header line">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand line" href="@routes.Application.index()"><img src="@routes.Assets.at("images/caminhao-nome.png")" height="55" width="210"></a>
                    </div>
                        <!-- Top Menu Items -->
                    <ul class="nav navbar-right top-nav">
                        <li>
                            <a href="@routes.Login.show()"><i class="fa fa-unlock-alt"></i> Login</a>
                        </li>
                    </ul>
                        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav side-nav">
                            <b class="navbar-brand menu">Menu</b>
                            <li class="active">
                                <a href="public/html/index.html"><i class="fa fa-home"></i> Home </a>
                            </li>
                            <li>
                                <a href="@routes.Login.show()"><i class=" fa fa-unlock-alt"></i> Login</a>
                            </li>
                            <li>
                                <a href="@routes.Cadastro.show()"><i class="fa fa-plus"></i> Sign Up</a>
                            </li>
                            <li class="active">
                                <a><i class="fa fa-coffee"></i> Sobre nós</a>
                            </li>
                            <li class="texto">
                                <p> O caminhão do leite é um portal feito exclusivamente para auxiliar os alunos que estão cursando a disciplina
                                    Sistemas de Informação 1, trazendo valiosas dicas de alunos que já concluíram este curso, e possibilitando
                                    que você não cometa os mesmos erros deles. Esta descrição deve ser breve para não bugar a interface xD</p></li>
                        </ul>
                    </div>
                        <!-- /.navbar-collapse -->
                </nav>

                <div id="page-wrapper">

                    <div class="container-fluid">

                            <!-- Page Heading -->
                        <div class="row">
                            <div class="col-lg-12">
                                <h1 class="page-header">

                                        <!-- Fim do cabeçalho! -->

                                        Caminhão do Leite <small> O seu portal de leites</small>
                                </h1>
                                <ol class="breadcrumb">
                                    <li class="active">
                                        <i class="fa fa-home"></i> Home
                                    </li>
                                </ol>
                                <br>
                                // explicando como o sistema funciona aqui
                                <br>
                                // alguns prints das páginas do sistema aqui
                                <br>
                                // essa é a ultima coisa que será concluida :)
                                <br><br>
                                // mais textinhos e imagens bonitas aqui bla bla bla
                                <br>
                                // propaganda da pag
                                <br><br>
                                E agora apresentamos a Genivalda:<br>
                                <img src="http://br.iyf.org/CONTENTS/data/file/reflexao/929145166_RI2Jup1r_vaca.jpg">

                            </div>
                        </div><br>
                        <ol class="breadcrumb">
                            <li>
                                <small> Caminhão do Leite </small>
                            </li>
                            <li> <small> Copyright © 2015</small></li>
                            <li>
                                <small> Desenvolvido por Marcela Tejo e Órion Winter para a disciplina SI1</small>
                            </li>
                        </ol>
                    </div>
                </div>
                    <!-- /.row -->

            </div>
                <!-- /#page-wrapper -->


                <!-- /#wrapper -->

                <!-- jQuery -->
            <script src="../../public/js/jquery.js"></script>

                <!-- Bootstrap Core JavaScript -->
            <script src="../../public/js/bootstrap.min.js"></script>

                <!-- Morris Charts JavaScript -->
            <script src="../../public/js/plugins/morris/raphael.min.js"></script>
            <script src="../../public/js/plugins/morris/morris.min.js"></script>
            <script src="../../public/js/plugins/morris/morris-data.js"></script>

        </body>

    </html>


}
