@(message: String)
@main("Caminhão do Leite") {
    <!DOCTYPE html>
    <html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Caminhão do Leite</title>

        <!-- Bootstrap Core CSS -->
        <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="@routes.Assets.at("stylesheets/sb-admin.css")" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="@routes.Assets.at("stylesheets/plugins/morris.css")" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="@routes.Assets.at("font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>-->
        <script src="@routes.Assets.at("js/html5shiv.js")"></script>
        <script src="@routes.Assets.at("js/respond.min.js")"></script>


            <!--Login com o G+-->
            <!-- Coloque esse JavaScript assíncrono antes de sua tag </body> -->
        <script type="text/javascript">
        (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/client:plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();

        function signinCallback(authResult) {
        if (authResult['access_token']) {
        // Autorizado com sucesso
        // Ocultar o botão de login agora que o usuário está autorizado, por exemplo:
        document.getElementById('signinButton').setAttribute('style', 'display: none');
        } else if (authResult['error']) {
        // Ocorreu um erro.
        // Possíveis códigos de erro:
        //  "access_denied" - o usuário negou o acesso a seu aplicativo
        //   "immediate_failed" - não foi possível fazer o login do usuário automaticamente
        // console.log('There was an error: ' + authResult['error']);
        }
        }
        </script>

        <script type="text/javascript">
        function disconnectUser(access_token) {
        var revokeUrl = 'https://accounts.google.com/o/oauth2/revoke?token=' +
        access_token;

        // Realizar uma solicitação GET assíncrona.
        $.ajax({
        type: 'GET',
        url: revokeUrl,
        async: false,
        contentType: "application/json",
        dataType: 'jsonp',
        success: function(nullResponse) {
        // Fazer algo agora que o usuário está desconectado
        // A resposta é sempre indefinida.
        },
        error: function(e) {
        // Gerenciar o erro
        // console.log(e);
        // Você pode apontar usuários para desconectar manualmente se não for bem-sucedido
        // https://plus.google.com/apps
        }
        });
        }
        // É possível desconectar com um clique no botão
        $('#revokeButton').click(disconnectUser);
        </script>


    </head>

    <body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header line">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand line" href="@routes.Application.index()"><img src="@routes.Assets.at("images/caminhao-nome.png")" height="55" width="210"></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li>
                    <a href="@routes.Login.show()"><i class="fa fa-sign-in"></i> Login</a>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <b class="navbar-brand menu">Menu</b>
                    <li>
                        <a href="@routes.Application.index()"><i class="fa fa-home"></i> Home </a>
                    </li>
                    <li class="active">
                        <a href="@routes.Login.show()"><i class="fa fa-sign-in"></i> Login</a>
                    </li>
                    <li>
                        <a href="@routes.Cadastro.show()"><i class="fa fa-plus"></i> Sign Up</a>
                    </li>
                    <li class="active">
                        <a><i class="fa fa-coffee"></i> Sobre nós</a>
                    </li>
                    <li class="texto">
                        <p> O caminhão do leite é um portal feito exclusivamente para auxiliar os alunos que estão cursando a disciplina
                            Sistemas de Informação 1, trazendo valiosas dicas de alunos que já concluíram este curso, e possibilitando
                            que você não cometa os mesmos erros deles. Esta descrição deve ser breve para não bugar a interface xD</p></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">

                            <!-- Fim do cabeçalho! -->
                            Login <small> Efetue seu login para acessar nosso portal</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>  <a href="@routes.Application.index()"> Home</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-unlock-alt"></i> Login
                            </li>
                        </ol>

                        <!--Alerta de login-->
                        @if(message != "") {
                            @if(message contains("Erro")){
                                <div class="alert alert-danger" role="alert" id="successPanel">
                                } else {
                                <div class="alert alert-success" role="alert" id="successPanel">
                                }
                            <button type="button" class="close" id="close"><span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span></button>
                            @message
                        </div>
                        }

                        <div id="inner">
                            <form role="form" action="@routes.Login.login()" method="post">
                                <div class="form-group input-group">
                                    <span class="input-group-addon">Usuário</span>
                                    <input type="text" class="form-control" name="user" placeholder="Usuário" required data-validation-required-message="Por favor digite um nome de usuário" maxlength="100">
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">Senha</span>
                                    <input type="password" class="form-control" name="senha" placeholder="Senha" required data-validation-required-message="Por favor digite uma senha" maxlength="100">
                                </div>
                                <div class="btn-group" style="display:inline">
                                <button type="submit" class="btn btn-sm btn-primary"><b>Entrar</b></button> &nbsp; <span id="signinButton">
                              <span
                                class="g-signin"
                                data-callback="signinCallback"
                                data-clientid="CLIENT_ID"
                                data-cookiepolicy="single_host_origin"
                                data-requestvisibleactions="http://schemas.google.com/AddActivity"
                                data-scope="https://www.googleapis.com/auth/plus.login">
                                </span>
                            </span>
                                </div>
                            </form><br>
                       <a data-toggle="modal" data-target="#exampleModal">Esqueceu a senha?</a><br>


<!--Inicio modal esqueceu senha-->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="exampleModalLabel">Esqueci minha senha</h4>
                                        </div>
                                        <div class="modal-body">
                                              Contate o administrador do sistema para recuperar sua senha.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary" data-dismiss="modal">Ok</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br>
                <ol class="breadcrumb">
                    <li>
                        <small>Caminhão do Leite</small>
                    </li>
                    <li>
                        <small> Copyright © - 2015</small>
                    </li>
                    <li>
                        <small> Desenvolvido por Marcela Tejo e Órion Winter para a disciplina SI1</small>
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
</div>
    </div>
    <!-- /#page-wrapper -->

    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="@routes.Assets.at("js/jquery.js")"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>

    <!-- Morris Charts JavaScript -->
        <script src="@routes.Assets.at("javascripts/jquery-extra.js")" rel="javascript" media="screen"></script>
        <script src="@routes.Assets.at("js/plugins/morris/raphael.min.js")"></script>
        <script src="@routes.Assets.at("js/plugins/morris/morris.min.js")"></script>
        <script src="@routes.Assets.at("js/plugins/morris/morris-data.js")"></script>

    </body>

    </html>
}