@(message: String, idTema: Long, temas: List[Tema])
@main("Caminhão do Leite") {
    <html lang="pt">

        <head>

            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">

            <title>Caminhão do Leite</title>

                <!-- Bootstrap Core CSS -->
            <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet">

                <!-- Custom CSS -->
            <link href="@routes.Assets.at("stylesheets/sb-admin.css")" rel="stylesheet">

                <!-- Morris Charts CSS -->
            <link href="@routes.Assets.at("stylesheets/plugins/morris.css")" rel="stylesheet">

                <!-- Custom Fonts -->
            <link href="@routes.Assets.at("font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

                <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
                <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
                <!--[if lt IE 9]>-->
            <script src="@routes.Assets.at("js/html5shiv.js")"></script>
            <script src="@routes.Assets.at("js/respond.min.js")"></script>

            <script type="text/javascript">
            $(document).ready(function(){
            $('[data-show="tooltip"]').tooltip({
            placement : 'top'
            });
            $('[data-show="tooltip-right"]').tooltip({
            placement : 'right'
            });
            $('[data-show="tooltip-down"]').tooltip({
            placement : 'bottom'
            });
            });
            </script>

            <style type="text/css">
            .bs-example{
            margin: 100px 50px;
            }
            </style>

        </head>

        <body>

            <div id="wrapper">
                    <!-- Navigation -->
                <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                        <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header line">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand line" href="@routes.Temas.show()"><img src="@routes.Assets.at("images/caminhao-nome.png")" height="55" width="210"></a>
                    </div>
                        <!-- Top Menu Items -->
                    <ul class="nav navbar-right top-nav">
                        <li>
                            <a><i class="fa fa-fw fa-user"></i>@session.get("user")</a>
                        </li>
                        <li>
                            <a href="@routes.Login.logout()"><i class="fa fa-sign-out"></i> Logout </a>
                        </li>
                    </ul>
                        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav side-nav"><br>
                            <b class="navbar-brand menu">Menu de Temas</b>
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-book"></i> Temas Teóricos<i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo" class="collapse">
                                @if(temas.size >= 3) {
                                    @for(i <- 0 to 4) {
                                        <li>
                                            <a href="@routes.Temas.temas(temas(i).getId)"> @temas(i).getNome() </a>
                                        </li>
                                    }
                                }
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#deo"><i class="fa fa-code-fork"></i> Novas Tecnologias<i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="deo" class="collapse">
                                @if(temas.size >= 8) {
                                    @for(i <- 5 to 8) {
                                        <li>
                                            <a href="@routes.Temas.temas(temas(i).getId)"> @temas(i).getNome() </a>
                                        </li>
                                    }
                                }
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#do"><i class="fa fa-fw fa-desktop"></i> Temas Práticos<i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="do" class="collapse">
                                @if(temas.size >= 9) {
                                    @for(i <- 9 until 12) {
                                        <li>
                                            <a href="@routes.Temas.temas(temas(i).getId)"> @temas(i).getNome() </a>
                                        </li>
                                    }
                                }
                                </ul>
                            <li>
                                <a href="@routes.MetaDicas.show()"><i class=" fa fa-folder-open-o"></i> Meta Dicas</a>
                            </li>
                        </ul>
                    </div>
                        <!-- /.navbar-collapse -->
                </nav>

                <div id="page-wrapper">
                    <div class="container-fluid">
                            <!-- Page Heading -->
                        <div class="row">
                            <div class="col-lg-12">@for(tema <- temas){
                                @if(tema.getId() == idTema){
                                <h1 class="page-header">
                                        <!-- Fim do cabeçalho! -->
                                            @tema.getNome() &nbsp;

                                    <!--Media e mediana-->
                                    <small><span class="label label-info" title ="Média da Dificuldade" data-show="tooltip">@tema.getDificuldadeMediaFormatada()</span>&nbsp;
                                    <span class="label label-info" title ="Mediana da Dificuldade" data-show="tooltip-right">
                                    @tema.getDificuldadeMedianaFormatada()
                                    </span></small>
                                </h1>

                                    <!--Inicio alert sucesso login-->
                                @if(message != "") {
                                    @if(message contains("Erro")){
                                        <div class="alert alert-danger" role="alert" id="successPanel">
                                        } else {
                                        <div class="alert alert-success" role="alert" id="successPanel">
                                        }
                                    <button type="button" class="close" id="close"><span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span></button>
                                    @message
                                </div>
                                }
                                }
                            }
                                    <!--Inicio forum de discussao-->
                                <!--Div de ações dsiponíveis para o tema-->
<br>
                                        <button type="submit" class="btn btn-primary" data-target="#addDica" data-show="tooltip"  data-toggle="modal" title="Adicione uma dica a este tema">Adicionar Dica</button>&nbsp;
                                        <button type="submit" class="btn btn-primary" data-target="#avaliacao" data-show="tooltip" data-toggle="modal" title="Avalie a dificuldade deste tema">Avaliar Tema</button>

                                <br><br>

                                <!--Div de Dicas-->
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default" id="panel1">
                                        <div class="panel-heading"><h4 class="panel-title">
                                            <a data-toggle="collapse" data-target="#collapseOne"
                                            href="#collapseOne">Dicas <i class="fa fa-fw fa-caret-down"></i></a></h4></div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                @for(tema <- temas) {
                                                    @if(tema.getId() == idTema) {
                                                        @if(tema.getDicas().isEmpty) {
                                                            Nenhuma dica cadastrada para este tema.
                                                        } else {
                                                            @for(dica <- tema.getDicas()) {
                                                                <div class="panel-group" id="accordion">
                                                                    <div class="panel panel-info">
                                                                        <div class="panel-heading">
                                                                            <div class="pull-right" style='display:inline;'>
                                                                                    <!--Thumbs-up -->
                                                                                @dica.getNumeroConcordaram
                                                                            <form action="@routes.Dicas.addOpiniao(idTema, dica.getId, 1)" method="POST" style="display:inline!important;">
                                                                                <button href="" class="btn btn-xs btn-success" data-show="tooltip" title="Avalie esta dica positivamente">
                                                                                    <i class="fa fa-thumbs-o-up"></i>
                                                                                </button>
                                                                            </form> &nbsp;&nbsp;
                                                                                <!--Thumbs-down -->
                                                                                @dica.getNumeroDiscordaram
                                                                                <button href="" class="btn btn-xs btn-danger" data-target="#avaliarNeg@dica.getId" data-show="tooltip" data-toggle="modal" title="Avalie esta dica negativamente (você terá que justificar sua resposta)">
                                                                                <i class="fa fa-thumbs-o-down"></i>
                                                                                </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                                <!--Flag -->
                                                                                @dica.numeroConteudoInapropriado() <form action="@routes.Dicas.reportarConteudoInapropriado(idTema, dica.getId)" method="POST" style="display:inline!important;">
                                                                                <button class="btn btn-xs btn-danger" data-show="tooltip" title="Sinalizar conteúdo inapropriado">
                                                                                    <i class="fa fa-flag"></i>
                                                                                </button>
                                                                                </form>
                                                                            </div>
                                                                            <h3 class="panel-title">
                                                                                <a data-toggle="collapse" data-target="#collapse@dica.getId"
                                                                                href="#collapseOne">@dica.getTipo()<i class="fa fa-fw fa-caret-down"></i></a>
                                                                            </h3>
                                                                        </div>

                                                                            <!--Modal para avaliar dica negativo-->
                                                                        <div class="modal" id="avaliarNeg@dica.getId" tabindex="-1" role="dialog" aria-labelledby="upload-avatar-title" aria-hidden="true">
                                                                            <div class="modal-dialog">
                                                                                <div class="modal-content">
                                                                                    <div class="modal-header">
                                                                                        <h4 class="modal-title" id="upload-avatar-title">Avaliação Negativa - Justificativa</h4>
                                                                                    </div>
                                                                                    <form action="@routes.Dicas.addOpiniao(idTema, dica.getId, 0)" method="POST">
                                                                                        <div class="modal-body">

                                                                                            <div class="form-group">
                                                                                                <label for="recipient-name" class="control-label">Justifique sua avaliação negativa para esta dica:<br><small>Sua avaliação só será validada se for justificada.</small></label>
                                                                                                <textarea class="form-control" name="justificativa" placeholder="Justificativa" id="justifica" maxlength="100"></textarea>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                                            <button type="submit" class="btn btn-primary" >Enviar</button>
                                                                                        </div>
                                                                                    </form>
                                                                                </div><!-- /.modal-content -->
                                                                            </div><!-- /.modal-dialog -->
                                                                        </div>


                                                                        @if(dica.getTipo() == "Material útil") {

                                                                            <div id="collapse@dica.getId" class="panel-collapse collapse in">
                                                                                <div class="panel-body">
                                                                                    <a href="@dica.toString()" target="_blank">@dica.toString()</a><hr>
                                                                                    <div class="pull-right"><small>Posted by: @dica.getUsuario()</small></div><br>

                                                                                    @if(!dica.getOpinioesNegativas.isEmpty) {
                                                                                        <br>
                                                                                        <div class="panel panel-danger">
                                                                                            <div class="panel-heading">
                                                                                                <h3 class="panel-title">Respostas a esta dica</h3>
                                                                                            </div>
                                                                                            <div class="panel-body">
                                                                                                @for(usuario <- dica.getOpinioesNegativas.keySet()) {
                                                                                                    <div class="panel panel-default">
                                                                                                        <div class="panel-body">
                                                                                                            @dica.getOpinioesNegativas.get(usuario)
                                                                                                        <hr>
                                                                                                        <div class="pull-right"><small>Posted by: @usuario</small></div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                }
                                                                                            </div>
                                                                                        </div>
                                                                                    }
                                                                                </div>
                                                                            </div>


                                                                        } else {

                                                                        <div id="collapse@dica.getId" class="panel-collapse collapse in">
                                                                            <div class="panel-body">
                                                                                @dica.toString()<hr>
                                                                            <div class="pull-right"><small>Posted by: @dica.getUsuario()</small></div><br>

                                                                                @if(!dica.getOpinioesNegativas.isEmpty) {
                                                                                    <br>
                                                                                    <div class="panel panel-danger">
                                                                                        <div class="panel-heading">
                                                                                            <h3 class="panel-title">Respostas a esta dica</h3>
                                                                                        </div>
                                                                                        <div class="panel-body">
                                                                                                <!--Orion, dá um help aqui!-->
                                                                                            @for(usuario <- dica.getOpinioesNegativas.keySet()) {
                                                                                                <div class="panel panel-default">
                                                                                                    <div class="panel-body">
                                                                                                        @dica.getOpinioesNegativas.get(usuario)
                                                                                                        <hr>
                                                                                                        <div class="pull-right"><small>Posted by: @usuario</small></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            }
                                                                                        </div>
                                                                                    </div>
                                                                                }
                                                                            </div>
                                                                        </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                                        }

                                                        }
                                                    }

                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                                    <!--Modal para avaliar o tema -->
                                <div class="modal" id="avaliacao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title" id="exampleModalLabel">Avaliar Tema</h4>
                                            </div>
                                            <form action="@routes.Temas.addDificuldade(idTema)" method="POST" name="dificuldade">
                                                <div class="modal-body">
                                                    Escolha uma nota de dificuldade para este tema (-2 para muito fácil e +2 para muito difícil):<br><br>
                                                    <input type="number" max="2" min="-2" name="dificuldade" required data-validation-required-message="">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="subimit" class="btn btn-primary" name="dificuldade">Enviar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->

                                <!--Modal para escolher o tipo de dica-->
                                <div class="modal" id="addDica" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title" id="exampleModalLabel">Escolha o tipo de dica</h4>
                                            </div>
                                            <div class="modal-body">
                                                Passe o mouse em cima dos botões para escolher o tipo de dica: <br><br>
                                                <button type="button" class="btn btn-default" data-show="tooltip-right" data-target="#dica1" data-toggle="modal" title="Dicas para não ter dificuldades em SI1">Dica Tipo 1</button><br><br>
                                                <button type="button" class="btn btn-info" data-show="tooltip-right" data-target="#dica2" data-toggle="modal" title="Disciplinas anteriores que te ajudarão em SI1">Dica Tipo 2</button><br><br>
                                                <button type="button" class="btn btn-warning" data-show="tooltip-right" data-target="#dica3" data-toggle="modal" title="URL de um material útil">Dica Tipo 3</button><br><br>
                                                <button type="button" class="btn btn-success" data-show="tooltip-right" data-target="#dica4" data-toggle="modal" title="Conselho para futuros alunos">Dica Tipo 4</button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                            </div>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->



                                <!--Modal for dica1-->
                                <div class="modal" id="dica1" tabindex="-1" role="dialog" aria-labelledby="upload-avatar-title" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title" id="upload-avatar-title">Dicas para não ter dificuldade em SI1</h4>
                                            </div>
                                            <form role="form" action="@routes.Dicas.addDica(idTema)" method="POST">
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="control-label">Dica:</label>
                                                        <textarea class="form-control" name="assunto" placeholder="Assunto" id="message-text" maxlength="255"></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                                                    <button type="submit" class="btn btn-primary" >Enviar</button>
                                                </div>
                                            </form>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div>
                                <div id="push"></div>


                                    <!--Modal for dica2-->
                                <div class="modal" id="dica2" tabindex="-1" role="dialog" aria-labelledby="upload-avatar-title" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title" id="upload-avatar-title">Disciplinas anteriores que te ajudarão em SI1</h4>
                                            </div>
                                            <form role="form" action="@routes.Dicas.addDica(idTema)" method="POST">
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="name" class="control-label">Nome da disciplina:</label>
                                                        <input type="name" class="form-control"  name="disciplina" placeholder="Disciplina" required data-validation-required-message="" maxlength="200"><br>
                                                        <label for="recipient-name" class="control-label">Razão pela qual ela é útil:</label>
                                                        <textarea class="form-control" id="message-text" name="razao" placeholder="Razão" required data-validation-required-message="" maxlength="255"></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" >Cancelar</button>
                                                    <button type="submit" class="btn btn-primary" >Enviar</button>
                                                </div>
                                            </form>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div>
                                <div id="push"></div>



                                    <!--Modal for dica3-->
                                <div class="modal" id="dica3" tabindex="-1" role="dialog" aria-labelledby="upload-avatar-title" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title" id="upload-avatar-title">URL de um material útil para SI1</h4>
                                            </div>
                                            <form role="form" action="@routes.Dicas.addDica(idTema)" method="POST">
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="url" class="control-label">URL:</label>
                                                        <input type="url" class="form-control"  name="url" placeholder="http://www.site.com.br" required data-validation-required-message="" maxlength="200">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                                                    <button type="submit" class="btn btn-primary" >Enviar</button>
                                                </div>
                                            </form>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div>
                                <div id="push"></div>


                                    <!--Modal for dica4-->
                                <div class="modal" id="dica4" tabindex="-1" role="dialog" aria-labelledby="upload-avatar-title" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title" id="upload-avatar-title">Conselho para cursar bem SI1</h4>
                                            </div>
                                            <form role="form" action="@routes.Dicas.addDica(idTema)" method="POST">
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="control-label">Conselho:</label>
                                                        <textarea type="text" class="form-control" name="conselho" placeholder="Conselho" required data-validation-required-message="Digite um conselho que não seja vazio" maxlength="255"></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                                                    <button type="submit" class="btn btn-primary" >Enviar</button>
                                                </div>
                                            </form>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div>
                            </div>
                            <div id="push"></div>

                                <!--Modal para o tipo de dica 2-->
                                <!-- Page Content -->

                            <br>
                            <ol class="breadcrumb">
                                <li>
                                    <small>Caminhão do Leite</small>
                                </li>
                                <li>
                                    <small> Copyright © - 2015</small>
                                </li>
                                <li>
                                    <small> Desenvolvido por Marcela Tejo e Órion Winter para a disciplina SI1</small>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

                <!--</div>-->
                <!-- /#page-wrapper -->

                <!-- /#wrapper -->

                <!-- jQuery -->
            <script src="@routes.Assets.at("js/jquery.js")"></script>

                <!-- Bootstrap Core JavaScript -->
            <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>

                <!-- Morris Charts JavaScript -->
            <script src="@routes.Assets.at("javascripts/jquery-extra.js")" rel="javascript" media="screen"></script>
            <script src="@routes.Assets.at("js/plugins/morris/raphael.min.js")"></script>
            <script src="@routes.Assets.at("js/plugins/morris/morris.min.js")"></script>
            <script src="@routes.Assets.at("js/plugins/morris/morris-data.js")"></script>


                <!-- Flot Charts JavaScript -->
            <script src="@routes.Assets.at("js/plugins/flot/jquery.flot.js")"></script>
            <script src="@routes.Assets.at("js/plugins/flot/jquery.flot.tooltip.min.js")"></script>
            <script src="@routes.Assets.at("js/plugins/flot/jquery.flot.resize.js")"></script>
            <script src="@routes.Assets.at("js/plugins/flot/jquery.flot.pie.js")"></script>
            <script src=@routes.Assets.at("js/plugins/flot/flot-data.js")""></script>

        </body>

    </html>

}